<section id="widget-grid" class="">
	<div class="row">
		<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
				<header>
					<span class="widget-icon">
						<i class="fa fa-table"></i>
					</span>
					<h2>添加角色</h2>
				</header>
				<div>
					<div class="widget-body no-padding">
						<form method="post" id="roleForm" class="smart-form">
							<input id="menuIds" name="menuIds" type="hidden">
							<fieldset>
								<div class="row">
									<section class="col col-10">
										<label class="label">角色名：</label>
										<label class="input">
											<input id="roleName" name="roleName" class="form-control" type="text">
										</label>
									</section>
								</div>
								<div class="row">
									<section class="col col-10">
										<label class="label">角色昵称：</label>
										<label class="input">
											<input id="roleSign" name="roleSign" class="form-control" type="text">
										</label>
									</section>
								</div>
								<div class="row">
									<section class="col col-10">
										<label class="label">备注：</label>
										<label class="input">
											<input id="remark" name="remark" class="form-control" type="text">
										</label>
									</section>
								</div>
								<div class="row">
									<section class="col col-10">
										<label class="label">菜单权限：</label>
										<div>
											<div class="widget-body">
												<div id="menuTree"></div>
											</div>
										</div>
									</section>
								</div>
							</fieldset>
							<footer>
								<button type="button" onclick="goback()" class="btn btn-primary">返回</button>
								<button type="submit" class="btn btn-primary">提交</button>
							</footer>
						</form>
					</div>
				</div>
			</div>
		</article>
	</div>
</section>
<script type="text/javascript" src="/js/appjs/system/role/add.js"></script>
<script type="text/javascript">
  function goback() {
    loadURL("sys/role", $('#content'));
  }
</script>
